@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .list-none {
    list-style-type: none;
  }
  .list-none::-webkit-details-marker {
    display: none;
  }
  body {
    font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica,
      "Roboto", Arial, sans-serif;
  }
}

@media print {
  @page {
      margin: 0 !important;
  }

  body {
      padding: 75px; /* This will act as your margin. Originally, the margin will hide the header and footer text. */
  }
}